html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: white;
    overflow: hidden;
}

form {
    top: 10%;
    left: 5%;
    position: absolute;
}
label {
    width: 150px;
    display: inline-block;
}
input {
    width: 500px;
}
#testo {
    top: 10%;
    left: 60%;
    width: 35%;
    border: 1px solid black;
    position: absolute;
}
