html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica,Arial,Sanserif;
    background: white;
}
form {
    top: 5%;
    left: 5%;
    width: 50%;
    position: absolute;
}
label {
    width: 20%;
    font-weight: bold;
    display: inline-block;
}
input {
    width: 78%;
}

#testoOut {
    top: 5%;
    left: 60%;
    width: 35%;
    position: absolute;
}

#istruzioni {
    top: 85%;
    left: 5%;
    position: absolute;
}
