html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica,Arial,Sanserif;
    background: white;
}

#testoIn, #testoOut, #testoOut2, #testoOut3, #testoOut4 {
    width: 40vw;
    position: absolute;
}

#testoIn {
    top: 5vh;
    left: 5vw;
    height: 80vh;
}

#testoOut,#testoOut2, #testoOut3, #testoOut4 {
    left: 55vw;
    height: 18vh;
}

#testoOut2 {
    top: 25vh;
}

#testoOut3 {
    top: 45vh;
}

#testoOut4 {
    top: 65vh;
}

ol {
    left: 5vw;
    top: 90vh;
    position: absolute;
}

button {
    color: white;
    background-color: #ff3300;
    padding: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
